// COLORS
$Black: black;
$White: white;
$Grey: grey;
$Red: #ff0000;
$Blue: #0000ff;

// FONTS
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

$Roboto: "Roboto"